:root {
    --secondary: #5ec4b6;
    --tertiary: #f5f6f7;
    --black: #1a1a1a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', helvtica, arial;
    font-size: 22px;
    font-weight: 500;
}

h1{
    color: var(--tertiary);
    font-size: 9rem;
    font-family: 'Oswald';
    position: absolute;
    top: 18rem;
    right: 50rem;

}

h4 {
    padding-bottom: 3rem;
    font-size: 3rem
}

.row {
    width: 80%;

    margin:  1.9rem auto;
}

p {
    margin: 1.9rem 0;
    font-weight: 300;
    font-size: 1.9rem
}

.results{
    background-color: #5EC4B6;
    height: 18rem;

}



.results-message{
width: 80%;
margin: 1.9rem auto 0rem auto;
padding: 1.9rem 0;


}

.grey {

    width: 100%;
    height: 45rem;
    background-image: linear-gradient(#5ec4b6,  #0aaf97);
}


.main-nav{
    height: 5rem;
    background-color: var(--black);;
    width: 100%;
}

.breadcrumbs{
    height: 5rem;
    background-color: white;
    width: 100%;
}

.form {
    background-color: var(--secondary);
    padding-top: 14rem;
}

fieldset {
    border: 0;
}

.button {
    padding: 1.5rem 3rem;
    font-size: 1.9rem;
    background-color: var(--black);;
    border-radius: .5rem;
    color: white;
    border: 2px solid var(--black);;
    margin-bottom: 1rem;
}

.button:hover {
 background-color: var(--black);;
 transition-duration: .3s;
 background-color: var(--secondary);
 cursor: pointer;
 color: var(--black);;
}

.item-container {

    display: flex;

    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    counter-reset: section;
    position: relative;
    background-color: var(--secondary);

}



.display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
    margin: 0rem 1rem;

}

.display h2 {
    color:
        margin-bottom: 10px;
}

.formtext{
    height: 5.5rem;
    font-weight: 900;
}

.rb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rb {
    display: flex;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 25px;
}

.rb input {
    width: 0;
    height: 0;
    /*I'm changing the opacity so it is still on screen - screen readers can still read this  */
    opacity: 0;
}

.rb .rb-field {
    width: 3.6rem;
    height: 3.6rem;
    background-color: white;
    position: relative;
    border: 2px solid var(--black);
}

.rb .rb-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: .5em;
}
.rb-text{
    font-size: 1.9rem
}

.rb .rb-field {
    border-radius: 100%;
}

.rb.fill input:checked+span:before {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
}

.rb.fill .rb-field:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color:var(--black);;
    border-radius: 100%;
    transition: all .2s cubic-bezier(.45, .05, 0, 1.98);
}

.rb.outline .rb-field {
    background-color: transparent;
    border: .9em solid var(--secondary);
}

.rb.outline .rb-field:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: black;
    width: 0;
    height: 0;
    top: .5em;
    left: .5em;
    transition: all .2s cubic-bezier(.45, .05, 0, 1.98);
}

.footer {
    height: 20rem;
    width: 100%;
    background-color: var(--tertiary);


}

@media screen and (max-width: 600px) {
    .item-container {

        flex-direction: column;
        align-content: center;
        justify-content: center;

    }

    .display{

        flex: 1;
        border: 1px solid red;

    }
}

/* HEADER */
.content {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding-bottom: 8.5rem;



}


ol {
   counter-reset: listNumbering;
	list-style: none;
	padding: 0 1rem;
}

li {
   font-size: 1em;
	counter-increment: listNumbering;
}

li:before {
	content: counter(listNumbering, decimal);
	display: block;
	font-family: Oswald, sans-serif;
	font-size: 9rem;
	font-weight: 700;
	text-align: center;
    color: #202020;
}

.summary {
	color: #3987df;
	border-top: 1px solid #3987df;
	border-bottom: 1px solid #3987df;
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: 0.15rem;
	padding: .5rem 0;
	text-align: center;
	text-transform: uppercase;
}

.fa-arrow-right{
    font-size: 3rem;
    color: var(--black);;

}

.arrowlink{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.9rem;

}


@keyframes example {
  0% {left: 0;}
  50% {left: 1.9rem;}
  75% {right: 1.9rem;}
}
.arrowlink:hover{
    animation-name: example;
 animation-duration: 1s;
}
